#main-post {
  min-height: 70vh;
  
  box-shadow:
    inset 0px 10px 10px -15px $color_tertiary, 
    inset 0px -10px 15px -10px $color_tertiary;

    .card__body {

      h1 {
          color: $color_tertiary;
          font-size: 1.1em;
          font-weight: 800;
      }
      p { 
          color: $color_tertiary;
          font-weight: 500;
      }
  }
}




.popup_postEdit {
    width: 400px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
  }
  
.open-popup_postEdit {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
  
.card {
    img {
      max-width: 100%;
      height: auto;
    }
}

#post-user-icon {

  position: relative;
  
  svg {
      color: $color_tertiary;
      position: absolute;
      top: 10px;
      left: -10px;
  }
}

#icon-post-edit {
  svg {
    color: $color_tertiary;
}
}