#main-home {
    box-shadow:
    inset 0px 10px 10px -15px $color_tertiary, 
    inset 0px -10px 15px -10px $color_tertiary;
    
    .card__body {

        h1 {
            color: $color_tertiary;
            font-size: 1.1em;
            font-weight: 800;
        }
        p { 
            color: $color_tertiary;
            font-weight: 500;
        }
    }
}

#post-timestamp {
    font-size: 0.7em;
}

#wall-post-user-name {

    position: relative;
    
    svg {
        color: $color_tertiary;
        position: absolute;
        top: 10px;
        left: -10px;
    }
}