

.page_wrapper{
  min-height: calc(100vh - 70px);
}

// a:-webkit-any-link {
//     color: $color_tertiary;
//     text-decoration: none;
//     &:hover { color:#FD2D01
     
//     }
    
// }


ul {
    list-style-type: none;
}

::placeholder {
  padding-inline-start: 10px;
}

.container-fluid{ 
  padding-left: 0rem;
  padding-right: 0rem; 
}

p {
  margin-bottom: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}
