
#btn-login {
    color: #fff;
    background-color: $color_primary;

    &:hover {
        background-color: $color_secondary;
        color: $color_tertiary;
    }
    
}

#btn-signup {
    color: #fff;
    background-color: $color_tertiary;
    
    &:hover {
        background-color: #fff;
        color: $color_tertiary;
    }

}


#btn-publish {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: -11px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

#btn-photo-upload {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: -17px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

.navbar-disconnect {
    button {
        color: $color_tertiary;
        &:hover {
            color: $color_primary;
        }
    }
    #btn-logout{
        svg {
            stroke-width: 3;
        }
    }
}

// Post Buttons 

#btn-post-checkout{
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 21px;
        left: 0px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

#btn-like {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg {
        stroke-width: 2.5;
        position: absolute;
        top: 19px;
        left: 0px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
    #like-counter {
        color: $color_primary;
        &:hover {
            color: $color_tertiary;
        }
    }
}

#btn-post-comment {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: 10px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}


#btn-post-edit {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: 10px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

#btn-post-delete {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: 10px;
    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}


#btn-close-edit-post {
    svg { 
        color: $color_tertiary;
        font-size: large;
        font-weight: 800;
    }
}

#btn-publish-modified-post {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: -11px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}


#btn-singup-submit {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        color: green;
        position: absolute;
        top: 10px;
        left: -11px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: green;
    }
}

#btn-account-modify-submit {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        color: green;
        position: absolute;
        top: 10px;
        left: 5px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        border: 1px solid #ced4da;
        background-color: #f8f9fa;
        color: green;
    }
}



#btn-comment-publish {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        font-size: 0.9em;
        position: absolute;
        top: 9px;
        left: 13px;
    }
    p { 
        font-size: 0.9em;
        margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}


#btn-comment-delete {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        font-size: 0.9em;
        position: absolute;
        top: 9px;
        left: 13px;
    }
    p { 
        font-size: 0.9em;
        margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

#btn-account-edit {
    position: relative;
    color: $color_tertiary;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: 10px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_primary;
    }
}

#btn-account-delete {
    position: relative;
    color: red;
    font-weight: 800;
    svg { 
        position: absolute;
        top: 10px;
        left: 10px;

    }
    p { 
         margin: 0;
    }
    &:hover {
        color: $color_secondary;
    }

}

#btn-post-options-collapse {
    color: $color_tertiary;
}

#btn-nav-collapse {
    color: $color_tertiary;
}