.signup-form {
    label {
        color: $color_tertiary;
        font-weight: 800;
    }
}

#signup-card {
    div{
        h1 {
            color: $color_tertiary; 
        }
    }
   
}

.form-required {
    margin-bottom: 0rem;
}

.red-required {
    color: red;
}

.required-info {
    p {
        font-style: italic;
        font-size: 0.8em;
        font-weight: 600;
    }
}
