@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page_wrapper {
  min-height: calc(100vh - 70px);
}

ul {
  list-style-type: none;
}

.li-bdl-cs {
  border-left: solid 1px #FFD7D7;
}

.li-bdl-ct {
  border-left: solid 1px #4E5166;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
}

.btn-secondary {
  color: #fff;
  background-color: #FFD7D7;
  border-color: #FFD7D7;
}

#btn-publish {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-publish svg {
  position: absolute;
  top: 10px;
  left: -11px;
}

#btn-publish p {
  margin: 0;
}

#btn-publish:hover {
  color: #FD2D01;
}

#btn-photo-upload {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-photo-upload svg {
  position: absolute;
  top: 10px;
  left: -17px;
}

#btn-photo-upload p {
  margin: 0;
}

#btn-photo-upload:hover {
  color: #FD2D01;
}

.navbar-disconnect button {
  color: #4E5166;
}

.navbar-disconnect button:hover {
  color: #FD2D01;
}

.navbar-disconnect #btn-logout svg {
  stroke-width: 3;
}

#btn-checkout-post {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-checkout-post svg {
  position: absolute;
  top: 20px;
  left: -12px;
}

#btn-checkout-post p {
  margin: 0;
}

#btn-checkout-post:hover {
  color: #FD2D01;
}

#btn-like {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-like svg {
  stroke-width: 2.5;
  position: absolute;
  top: 20px;
  left: -10px;
}

#btn-like p {
  margin: 0;
}

#btn-like:hover {
  color: #FD2D01;
}

#btn-like #like-counter {
  color: #FD2D01;
}

#btn-like #like-counter:hover {
  color: #4E5166;
}

#btn-post-edit {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-edit svg {
  position: absolute;
  top: 10px;
  left: -15px;
}

#btn-post-edit p {
  margin: 0;
}

#btn-post-edit:hover {
  color: #FD2D01;
}

#btn-post-delete {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-delete svg {
  position: absolute;
  top: 10px;
  left: -15px;
}

#btn-post-delete p {
  margin: 0;
}

#btn-post-delete:hover {
  color: #FD2D01;
}

#btn-post-comment {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-comment svg {
  position: absolute;
  top: 10px;
  left: -10px;
}

#btn-post-comment p {
  margin: 0;
}

#btn-post-comment:hover {
  color: #FD2D01;
}

#btn-close-edit-post svg {
  font-size: large;
  font-weight: 800;
}

#btn-publish-modified-post {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-publish-modified-post svg {
  position: absolute;
  top: 10px;
  left: -11px;
}

#btn-publish-modified-post p {
  margin: 0;
}

#btn-publish-modified-post:hover {
  color: #FD2D01;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #2b2b2b;
}

.nav div, img {
  height: 50px;
}

#login_footer {
  background-color: #fff;
}

#login_footer a {
  color: #4E5166;
  text-decoration: none;
}

#login_footer a:hover {
  color: #FD2D01;
}

#home_footer {
  background-color: #4E5166;
}

#home_footer a {
  color: #FFD7D7;
  text-decoration: none;
}

#home_footer a:hover {
  color: #FD2D01;
}

#main_login {
  -webkit-box-shadow: inset -0 -10px 15px -12px  #4e5166;
          box-shadow: inset -0 -10px 15px -12px  #4e5166;
  height: 80vh;
  padding-bottom: 20px;
  text-align: center;
  background: #ffd7d7;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffd7d7), color-stop(5%, #ffe8e8), color-stop(43%, white), to(white));
  background: linear-gradient(0deg, #ffd7d7 0%, #ffe8e8 5%, white 43%, white 100%);
}

#banner_login img {
  width: 100%;
  max-width: 330px;
  max-height: 300px;
}

.landingPage-logo {
  height: 40vmin;
  max-width: 330px;
  pointer-events: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login_reg_seperator {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

#login_reg_bars {
  display: inline-block;
  position: relative;
}

#login_reg_bars:before {
  margin-right: 15px;
  right: 100%;
}

#login_reg_bars:after {
  left: 100%;
  margin-left: 15px;
}

#login_reg_bars:before, #login_reg_bars:after {
  background: #ccd0d5;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
}

#main_signup {
  text-align: center;
}

#main-post {
  -webkit-box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
          box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
}

#main-post .card-text h1 {
  color: #4E5166;
  font-size: 1.1em;
  font-weight: 800;
}

#main-post .card-text p {
  color: #4E5166;
  font-weight: 500;
}

.popup_postEdit {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, top 0.4s;
  transition: transform 0.4s, top 0.4s, -webkit-transform 0.4s;
}

.open-popup_postEdit {
  visibility: visible;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.card img {
  max-width: 100%;
  height: auto;
}

#main-home {
  -webkit-box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
          box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
}

#main-home .card-text h1 {
  color: #4E5166;
  font-size: 1.1em;
  font-weight: 800;
}

#main-home .card-text p {
  color: #4E5166;
  font-weight: 500;
}

#post-timestamp {
  font-size: 0.7em;
}

#post-user-name {
  position: relative;
}

#post-user-name svg {
  color: #4E5166;
  position: absolute;
  top: 10px;
  left: -10px;
}
/*# sourceMappingURL=custom.css.map */