@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page_wrapper {
  min-height: calc(100vh - 70px);
}

ul {
  list-style-type: none;
}

::-webkit-input-placeholder {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

:-ms-input-placeholder {
  padding-inline-start: 10px;
}

::-ms-input-placeholder {
  padding-inline-start: 10px;
}

::placeholder {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
}

p {
  margin-bottom: 0;
}

a:-webkit-any-link {
  text-decoration: none;
}

#btn-login {
  color: #fff;
  background-color: #FD2D01;
}

#btn-login:hover {
  background-color: #FFD7D7;
  color: #4E5166;
}

#btn-signup {
  color: #fff;
  background-color: #4E5166;
}

#btn-signup:hover {
  background-color: #fff;
  color: #4E5166;
}

#btn-publish {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-publish svg {
  position: absolute;
  top: 10px;
  left: -11px;
}

#btn-publish p {
  margin: 0;
}

#btn-publish:hover {
  color: #FD2D01;
}

#btn-photo-upload {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-photo-upload svg {
  position: absolute;
  top: 10px;
  left: -17px;
}

#btn-photo-upload p {
  margin: 0;
}

#btn-photo-upload:hover {
  color: #FD2D01;
}

.navbar-disconnect button {
  color: #4E5166;
}

.navbar-disconnect button:hover {
  color: #FD2D01;
}

.navbar-disconnect #btn-logout svg {
  stroke-width: 3;
}

#btn-post-checkout {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-checkout svg {
  position: absolute;
  top: 21px;
  left: 0px;
}

#btn-post-checkout p {
  margin: 0;
}

#btn-post-checkout:hover {
  color: #FD2D01;
}

#btn-like {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-like svg {
  stroke-width: 2.5;
  position: absolute;
  top: 19px;
  left: 0px;
}

#btn-like p {
  margin: 0;
}

#btn-like:hover {
  color: #FD2D01;
}

#btn-like #like-counter {
  color: #FD2D01;
}

#btn-like #like-counter:hover {
  color: #4E5166;
}

#btn-post-comment {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-comment svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-post-comment p {
  margin: 0;
}

#btn-post-comment:hover {
  color: #FD2D01;
}

#btn-post-edit {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-edit svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-post-edit p {
  margin: 0;
}

#btn-post-edit:hover {
  color: #FD2D01;
}

#btn-post-delete {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-post-delete svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-post-delete p {
  margin: 0;
}

#btn-post-delete:hover {
  color: #FD2D01;
}

#btn-close-edit-post svg {
  font-size: large;
  font-weight: 800;
}

#btn-publish-modified-post {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-publish-modified-post svg {
  position: absolute;
  top: 10px;
  left: -11px;
}

#btn-publish-modified-post p {
  margin: 0;
}

#btn-publish-modified-post:hover {
  color: #FD2D01;
}

#btn-singup-submit {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-singup-submit svg {
  color: green;
  position: absolute;
  top: 10px;
  left: -11px;
}

#btn-singup-submit p {
  margin: 0;
}

#btn-singup-submit:hover {
  color: green;
}

#btn-account-modify-submit {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-account-modify-submit svg {
  color: green;
  position: absolute;
  top: 10px;
  left: 5px;
}

#btn-account-modify-submit p {
  margin: 0;
}

#btn-account-modify-submit:hover {
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  color: green;
}

#btn-comment-publish {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-comment-publish svg {
  font-size: 0.9em;
  position: absolute;
  top: 9px;
  left: 13px;
}

#btn-comment-publish p {
  font-size: 0.9em;
  margin: 0;
}

#btn-comment-publish:hover {
  color: #FD2D01;
}

#btn-comment-delete {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-comment-delete svg {
  font-size: 0.9em;
  position: absolute;
  top: 9px;
  left: 13px;
}

#btn-comment-delete p {
  font-size: 0.9em;
  margin: 0;
}

#btn-comment-delete:hover {
  color: #FD2D01;
}

#btn-account-edit {
  position: relative;
  color: #4E5166;
  font-weight: 800;
}

#btn-account-edit svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-account-edit p {
  margin: 0;
}

#btn-account-edit:hover {
  color: #FD2D01;
}

#btn-account-delete {
  position: relative;
  color: red;
  font-weight: 800;
}

#btn-account-delete svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn-account-delete p {
  margin: 0;
}

#btn-account-delete:hover {
  color: #FFD7D7;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #2b2b2b;
}

.nav div, img {
  height: 50px;
}

#login_footer {
  background-color: #fff;
}

#login_footer .nav {
  background: none;
}

#login_footer a {
  color: #4E5166;
  text-decoration: none;
}

#login_footer a:hover {
  color: #FD2D01;
}

#home_footer {
  background-color: #4E5166;
}

#home_footer .nav {
  background: none;
}

#home_footer p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#social-icons a {
  color: #fff;
  text-decoration: none;
}

#social-icons a:hover {
  color: #FD2D01;
}

#footer-links a {
  color: #FFD7D7;
  text-decoration: none;
}

#footer-links a:hover {
  color: #FD2D01;
}

.signup-form label {
  color: #4E5166;
  font-weight: 800;
}

#signup-card div h1 {
  color: #4E5166;
}

.form-required {
  margin-bottom: 0rem;
}

.red-required {
  color: red;
}

.required-info p {
  font-style: italic;
  font-size: 0.8em;
  font-weight: 600;
}

::-webkit-input-placeholder {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

:-ms-input-placeholder {
  padding-inline-start: 10px;
}

::-ms-input-placeholder {
  padding-inline-start: 10px;
}

::placeholder {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

#main_login {
  -webkit-box-shadow: inset -0 -10px 15px -12px  #4e5166;
          box-shadow: inset -0 -10px 15px -12px  #4e5166;
  height: 80vh;
  padding-bottom: 20px;
  text-align: center;
  background: #ffd7d7;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffd7d7), color-stop(5%, #ffe8e8), color-stop(43%, white), to(white));
  background: linear-gradient(0deg, #ffd7d7 0%, #ffe8e8 5%, white 43%, white 100%);
}

#banner_login img {
  width: 100%;
  max-width: 330px;
  max-height: 300px;
}

.landingPage-logo {
  height: 40vmin;
  max-width: 330px;
  pointer-events: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin p {
  margin-bottom: 0;
  color: #bf1650;
}

.form-signin p::before {
  display: inline;
  content: "⚠ ";
}

#login_reg_seperator {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

#login_reg_bars {
  display: inline-block;
  position: relative;
}

#login_reg_bars:before {
  margin-right: 15px;
  right: 100%;
}

#login_reg_bars:after {
  left: 100%;
  margin-left: 15px;
}

#login_reg_bars:before, #login_reg_bars:after {
  background: #ccd0d5;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
}

#main_signup {
  text-align: center;
}

#main-account {
  min-height: 70vh;
  -webkit-box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
          box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
}

#main-account .card__body h1 {
  color: #4E5166;
  font-size: 1.8em;
  font-weight: 500;
}

#main-account .card__body h2 {
  color: #4E5166;
  font-size: 1em;
  font-weight: 600;
}

#account-cake-icon {
  position: relative;
}

#account-cake-icon svg {
  color: #4E5166;
  position: absolute;
  top: 3px;
  left: 10px;
}

#account-cake-icon p {
  color: #4E5166;
  font-weight: 800;
}

#account-briefcase-icon {
  position: relative;
}

#account-briefcase-icon svg {
  color: #4E5166;
  position: absolute;
  top: 3px;
  left: 10px;
}

#account-briefcase-icon p {
  color: #4E5166;
  font-weight: 800;
}

#account-bio-icon {
  position: relative;
}

#account-bio-icon svg {
  color: #4E5166;
  position: absolute;
  top: 2px;
  left: 10px;
}

#account-bio-icon p {
  font-weight: 800;
}

#account-bio-icon h2 {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}

#main-post {
  -webkit-box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
          box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
}

#main-post .card__body h1 {
  color: #4E5166;
  font-size: 1.1em;
  font-weight: 800;
}

#main-post .card__body p {
  color: #4E5166;
  font-weight: 500;
}

.popup_postEdit {
  width: 400px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  -webkit-transition: top 0.4s, -webkit-transform 0.4s;
  transition: top 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, top 0.4s;
  transition: transform 0.4s, top 0.4s, -webkit-transform 0.4s;
}

.open-popup_postEdit {
  visibility: visible;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.card img {
  max-width: 100%;
  height: auto;
}

#post-user-icon {
  position: relative;
}

#post-user-icon svg {
  color: #4E5166;
  position: absolute;
  top: 10px;
  left: -10px;
}

#main-home {
  -webkit-box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
          box-shadow: inset 0px 10px 10px -15px #4E5166, inset 0px -10px 15px -10px #4E5166;
}

#main-home .card__body h1 {
  color: #4E5166;
  font-size: 1.1em;
  font-weight: 800;
}

#main-home .card__body p {
  color: #4E5166;
  font-weight: 500;
}

#post-timestamp {
  font-size: 0.7em;
}

#wall-post-user-name {
  position: relative;
}

#wall-post-user-name svg {
  color: #4E5166;
  position: absolute;
  top: 10px;
  left: -10px;
}

#comment-card h2 {
  color: #4E5166;
  font-size: 1em;
  font-weight: 600;
}

#comment-card p {
  color: #4E5166;
  font-weight: 500;
}

.card {
  border: 0px;
}

#comment-user-icon {
  position: relative;
}

#comment-user-icon svg {
  color: #4E5166;
  position: absolute;
  top: 10px;
  left: -10px;
}
/*# sourceMappingURL=custom.css.map */